################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExcelToJsonParser/v15
/ExcelToJsonParser/bin/Debug/netcoreapp2.1
/ExcelToJsonParser/obj
/ExcelToJsonParser.Lib/bin/Debug/netcoreapp2.1
/ExcelToJsonParser.Lib/obj
/.vs/ExcelToJsonParser/DesignTimeBuild
/ExcelToJsonParser.Console/bin/Debug/netcoreapp2.1
/ExcelToJsonParser.Console/obj
/ExcelToJsonParser/bin/Debug/netstandard2.0
/ExcelToJsonParser/bin
/ExcelToJsonParser.Console/bin/Release/netcoreapp2.1
